<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time to Series & Movies</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/helperClasses.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
</head>

<body class="bg">
    <header>
        <!-- Dropdown Structure -->
        <ul id="dropdownColecciones" class="dropdown-content">
            <li><a><button onclick="getData('harry+potter',1)" class="no-btn">Harry Potter</button></a></li>
            <li><a><button onclick="getData('x-men',1)" class="no-btn">X-men</button></a></li>
            <li><a><button onclick="getData('spider+man',1)" class="no-btn">Spiderman</button></a></li>
            <li><a><button onclick="getData('superman',1)" class="no-btn">Superman</button></a></li>
            <li><a><button onclick="getData('star+wars',1)" class="no-btn">Stars Wars</button></a></li>
            <li><a><button onclick="getData('lord+of+the+rings',1)" class="no-btn">The Lord of the rings</button></a></li>
        </ul>
        <nav class="nav-extended back-white">
            <div class="nav-wrapper">
                <a href="userView.html" class="brand-logo ml-md-4 mt-2 ml-0"><img src="../img/logo2.png" width="200" class="responsive-img"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons blue-grey-text text-darken-4">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <div id="topbarsearch">
                            <div class="input-field col s6 blue-grey-text text-darken-4">
                                <i class="blue-grey-text text-darken-4 material-icons prefix">search</i>
                                <input type="text" placeholder="search" class="blue-grey-text text-darken-4" id="search-string">
                            </div>
                        </div>
                    </li>
                    <li><a class="dropdown-trigger blue-grey-text text-darken-4" data-target="dropdownColecciones">Sagas<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a id="sign-out" class="blue-grey-text text-darken-4 mr-3">Sign out</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a id="movieTap" href="#topMovies" class=" lowerCase active" onclick="cleanSearchResultElement()">Top
                            movies</a></li>
                    <li class="tab"><a id="serieTap" href="#topSeries" onclick="cleanSearchResultElement()" class="lowerCase">Top Series</a></li>
                    <li class="tab"><a id="myFavoritesTap" href="#myFavorites" onclick="cleanSearchResultElement()" class="lowerCase">My Favorites</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li class="sidenav-close"><a>Sagas</a>
                <ul>
                    <li class="divider"></li>
                    <li><a><button onclick="getData('harry+potter',1)" class="no-btn">Harry Potter</button></a></li>
                    <li><a><button onclick="getData('x-men',1)" class="no-btn">X-men</button></a></li>
                    <li><a><button onclick="getData('spider+man',1)" class="no-btn">Spiderman</button></a></li>
                    <li><a><button onclick="getData('superman',1)" class="no-btn">Superman</button></a></li>
                    <li><a><button onclick="getData('star+wars',1)" class="no-btn">Stars Wars</button></a></li>
                    <li><a><button onclick="getData('lord+of+the+rings',1)" class="no-btn">The Lord of the rings</button></a></li>
                    <li class="divider"></li>
                </ul>

            </li>
            <li class="sidenav-close"><a>Sign out</a></li>
        </ul>
    </header>

    <section class="mt-3">
        <div class="row mt-2" id="topMovies"></div>
    </section>
    <section class="mt-3">
        <div class="row mt-2" id="topSeries"></div>
    </section>
    <section class="mt-3">
        <div class="row mt-2" id="myFavorites"></div>
    </section>
    <section class="mt-3">
        <div class="row mt-2" id="searchResult"></div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/userData.js"></script>
    <script>
        // Inicialización de componentes de Materialize
        document.addEventListener('DOMContentLoaded', () => {
            M.AutoInit();
        });
        init();
    </script>
</body>

</html>