body{
    font-family: 'Josefin Sans', sans-serif;
}

b, strong {
    font-weight: 700;
}

.bg{
    background-image: url("../img/bg2.gif");
	background-repeat: repeat;
}

.back-white{
    background-color: #fbfff2!important;
}

.card{
	background-color: #f0f0f0;
}

.badge{
	font-size: 85%;
}
.card-title{
	font-size: 1em;
	border:none;
	color: #4aaefb;
	font-weight: 700;
}

.card-title-details{
	font-size: 0.95em;
	border:none;
	color: #4aaefb;
}

.card-text-details{
	font-size: 0.8em;
}

.height-img{
    height: 350px;
}

.img-card{
	height: 350px;
}
.no-radius{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.no-btn{
	background-color: inherit;
	border: none;
	color: #000;
	cursor: pointer;
}

.btn-group-danger .dropdown-menu {
  background-color: #d64742 !important;
}
.btn-group-danger .dropdown-menu li > a:hover,
.btn-group-danger .dropdown-menu li > a:focus {
  background-color: #d9534f !important;
}

.form-control{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.small-text{
	font-size: 75%;
}