
button:focus{
	background-color: inherit;
}
nav ul a:hover{
	background-color: inherit;
}

.nav-content{
	background-color: #b9b9b9cc;
}

.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: #a5a2a2cc;
}

.lowerCase{
	text-transform: capitalize;
}

.bg{
    background-image: url("../img/bg2.gif");
	background-repeat: repeat;
}

.back-white{
    background-color: #fbfff2!important;
}

.card{
	min-height: 560px;
}

.card-action-text{
	font-size: 0.85em;
	text-align: left;
}

.badge{
	font-size: 85%;
}

.height-img{
    height: 400px;
}

.img-card{
	height: 100px;
}
.no-radius{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.no-btn{
	background-color: inherit;
	border: none;
	color: #000;
	cursor: pointer;
}

.small-text{
	font-size: 75%;
}

input[type="text"]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #394847;
	box-shadow: 0 1px 0 0 #1f2121;
}

input[type="text"]:not(.browser-default){
	height: 2rem;
}

.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(255, 255, 255, 0.06),0 6px 20px 0 rgba(252, 249, 249, 0.36);
}